[submodule "irc_bot/vendor/re2"]
	path = irc_bot/vendor/re2
	url = https://github.com/google/re2.git
[submodule "irc_bot/vendor/loguru"]
	path = irc_bot/vendor/loguru
	url = https://github.com/emilk/loguru.git
[submodule "irc_bot/vendor/json"]
	path = irc_bot/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "irc_bot/vendor/mariadb-connector-c"]
	path = irc_bot/vendor/mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
[submodule "irc_bot/vendor/smtp-client"]
	path = irc_bot/vendor/smtp-client
	url = https://github.com/somnisoft/smtp-client.git
[submodule "irc_bot/vendor/HTTPRequest"]
	path = irc_bot/vendor/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
